<head>
<meta charset="UTF-8" />
<title>{% if page.nome %}{{ page.nome }} - {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>
<link rel="canonical" href="{{ site.baseurl }}{{ page.url | replace:'index.html','' }}" />
<link href='http://fonts.googleapis.com/css?family=Dosis:200,500' rel='stylesheet' type='text/css' />
<link rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/feed/" title="Atom feed for thesetup.it"/>
<link rel='stylesheet' type='text/css' href='{{ site.baseurl }}/static/style.css' />
<meta name="description" content="{{ site.description }}">
<link href="https://plus.google.com/109296376056482059969" rel="publisher" />
<link href="https://plus.google.com/109296376056482059969" rel="author" />
{% include twittercard-init.html %}
{% include ga-init.html %}
</head>
