<head>
<meta charset="UTF-8" />
<title>{% if page.nome %}{{ page.nome }} - {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>
<link rel="canonical" href="{{ site.baseurl }}{{ page.url | replace:'index.html','' }}" />
<link rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/feed/" title="Atom feed for thesetup.it"/>
<link rel='stylesheet' type='text/css' href='{{ site.baseurl }}/static/style.css' />
<meta name="description" content="{{ site.description }}">
{% include plausible.html %}
{% include twittercard-init.html %}
</head>
