<header id="header">
    <h1 id="site-title"><a class="home" href="{{ site.baseurl }}" rel="home">{{ site.name }}</a></h1>
    <div id="site-description">{{ site.description }}</div>
    <div id="social-media-icons">
    	<a class="social-media-icon google-plus" href="https://www.google.com/%2Bthesetupit"></a>
        <a class="social-media-icon facebook" href="https://facebook.com/thesetupit"></a>
        <a class="social-media-icon twitter" href="https://twitter.com/thesetupit"></a>
    </div>
	<div class="clear"></div>
</header>
