{% include header.html %}
<body class="home">
<script src="{{ site.baseurl }}/static/jquery.min.js"></script>
<script src="{{ site.baseurl }}/static/jquery.masonry.min.js"></script>
{% include fb-init.html %}
<script>
  $(function(){
    var $container = $('#contenitore');
      $container.imagesLoaded( function(){
      $container.masonry({
        itemSelector : '.elemento',
		isFitWidth: true
      });
    });
  });
</script>
<div id="wrapper">
{% include title.html %}
{{ content }}
</div>
{% include footer.html %}