---
layout: default
---
<div itemscope itemtype="http://schema.org/Article" id="wrapper">
{% include nav.html %}
<section id="content">
    <div id="contenitore">
        <article id="intervista">
            <time itemprop="datePublished" datetime="{{ page.date | date: "%Y-%m-%d" }}" id="data-pubblicazione">{{ page.date | date: "%d-%m-%Y" }}</time>
            <figure id="ritratto-intervista">
                <img width="{{ page.ritratto_width }}" height="{{ page.ritratto_height }}" src="{{ site.baseurl }}/immagini/{{ page.ritratto }}" alt="{{ page.nome }}" itemprop="image" />
            </figure>
            <header id="titolo-intervista"><h2 class="indice"><a href="{{ page.url }}" rel="bookmark" title="{{ page.title }}" itemprop="name">{{ page.nome }}</a></h2></header>
            <div class="clear"></div>
<div itemprop="articleBody">
{{ content }}
</div>
{% if page.postazione %}
<figure class="postazione">
<img width="{{ page.postazione_width }}" height="{{ page.postazione_height }}" src="{{ site.baseurl }}/immagini/{{ page.postazione }}" {% if page.postazione_alt %}alt="{{ page.postazione_alt }}" {% endif %}/>
</figure>
            {% if page.postazione_credit %}<aside id="credit">{{ page.postazione_credit }}</aside>{% endif %}
{% endif %}
            <!--<aside class="tags">{% for tag in page.tags %}
              <a href="#" title="Tag: {{ tag }}">{{ tag }}</a>{% endfor %}
            </aside>-->
            <div class="clear"></div>

        </article> <!-- id="intervista" -->
    </div> <!-- id="contenitore" -->
</section> <!-- id="content" -->
</div> <!-- id="wrapper" -->
